$textDark: #000000;
$textWhite: #FFFFFF;
$textGray: rgba(0, 0, 0, 0.15);
$textLighten: rgba(255, 255, 255, 0.25);
$textAccent: #0984D7;
$textAccentDark: #0776C1;
$accentDark: #006FBA;
$bgGentle: #F0F9FF;
$grayWhite: #DFDFDF;
